<div class="container">

  <div>
    <acme-navbar creationDate="main.creationDate" />
  </div>

  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <label for="itemsByPage">Items by page:</label>
        <input type="number" min="4" max="100" class="ng-pristine ng-valid ng-valid-min ng-valid-max ng-touched" ng-model="pageSize">
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="searchCategory">Category:</label>
        <select name="searchCategory" id="searchCategory" ng-model="selectCategory" ng-change="update()">
          <option value="">All</option>
          <option ng-repeat="category in main.categories" value="{{category.name}}">{{category.name}}</option>
        </select>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="searchGenre">Genre:</label>
        <select name="searchGenre" id="searchGenre" ng-model="selectGenre" ng-change="update()">
          <option value="">All</option>
          <option ng-repeat="genre in main.genres " value="{{genre.name}}">{{genre.name}}</option>
        </select>
      </div>
    </div>
    <div class="col-md-3">
      <input ng-model="q" id="search" class="form-control" placeholder="Filter by Title or Author">
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 text-center">
      <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="app/components/templatePaging/dirPagination.tpl.html"></dir-pagination-controls>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-3 col-lg-3 col-md-3" dir-paginate="book in main.books | filterBy: ['name', 'author.name'] : q | orderBy: 'name' | itemsPerPage: pageSize" current-page="main.currentPage">
      <my-book info="book"></my-book>
    </div>
  </div>

</div>
