<div class="container">

  <div>
    <acme-navbar creationDate="book.creationDate" />
  </div>


  	<div class="jumbotron text-center">
	
	    <h2>{{ book.oneBook.name }}</h2>
	    <p class="lead">
	      {{ book.oneBook.author.name }}
	    </p>
	    <p>
	      {{ book.oneBook.description }}
	    </p>
	    
	    <p>
	      <b>Category:</b> {{ book.oneBook.genre.category }}
	    </p>
    
    </div>

	<div class="row">
		
		<p>introduction</p>
		
		<p ng-repeat="intro in book.oneBook.introduction">
			{{ intro.content }}
		</p>
		
		<p>
			<img class="center" ng-src="{{ book.oneBook.author.avatar }}" alt="{{ book.oneBook.author.name }}">
		<p>
		
		<p>
			Writing by {{ book.oneBook.author.name }}
		<p>
		
	</div>
	
	
	<div class="row">
	<div class="col-sm-6 col-md-4"  ng-repeat="book in book.similarBooks | orderBy: '-likes'">
      <div class="thumbnail">
	    <a ng-href="#/book/{{book.id}}">
        	<img class="center" ng-src="{{ book.cover }}" alt="{{ book.title }}">
	    </a>
        <div class="caption">
          <h3>{{ book.name }}</h3>
          <h4>{{ book.author.name }}</h4>
	      <h5><b>Category:</b> {{ book.genre.category }}</h5>
	      <h5><b>Genre:</b> {{ book.genre.name }}</h5>
          <p>{{ book.description }}</p>
          <p><a ng-href="#/book/{{book.id}}">{{ book.id }}</a></p>
          <p><b>Votes:</b> {{ book.likes }}</p>
          <p><b>Published:</b> {{ book.moment }}</p>
        </div>
      </div>
    </div>

</div>